.container {
    width: 300px;
    height: 10000px
}

button {
    /* width: 30px; */
    height: 30px;
    outline: none;
    border: none;
    border-radius: 3px;
    margin: 10px;
    top: 10px

}

button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
}

#stopwatch {
    font-size: 50px;
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translate(-50%, -55%);
}